/*Цвет основного текста color: #212121 */
/* цвет вторичного текста #757575 */
/*акцент #2196F3 */

:root {
    --primary-text-color: #212121;
    --title-text-color:#757575;
    --accent-color: #2196f3;
    --primary-bg-color:#F5F4FA;
}




.body{ 
font-family: Roboto, sans-serif;
background-color: #FFFFFF;
}

/*Logo*/

.logo {
font-family: Raleway, sans-serif;
font-size: 26px;
line-height: 1.19;
color: var( --accent-color)
}

.logo-second {
color: #000000;
}

ul{ 
    list-style: none;
}



/* СТИЛИ PORTFOLIO*/


/*Site nav*/

.site-nav .link {
font-family: Roboto, sans-serif;
font-size: 14px;
line-height:1.14;
color: var(--primary-text-color);
}

.site-nav .link:hover
,.site-nav .link:focus{
    color:var(--accent-color); 
}


.contact-nav a {
font-family: Roboto, sans-serif;
font-size: 14px;
line-height:1.14;
color: var(--title-text-color);
}

/*Portfolio*/

.filter{
font-family: Roboto, sans-serif;
font-size: 16px;
line-height:1.62;

}


.filter:hover
,.filter:focus{

   background-color: var(--accent-color);
}

.title{
font-family: Roboto, sans-serif;
font-size: 18px;
line-height: 2;
color: var(--primary-text-color);
}
.element .title{
    color: var(--primary-text-color);
}

.project{
font-family: Roboto, sans-serif;
font-size: 16px;
line-height:1.87;
color: var(--title-text-color);
}

.element .project {
    color: var(--title-text-color);
}

/*Footer*/

.contact{
    font-family: Roboto,sans-serif;
    font-size: 14px
    Line height: 1.7em;
}


