
/*Цвет основного текста color: #212121 */
/* цвет вторичного текста #757575 */
/*акцент #2196F3 */

:root {
    --primary-text-color: #212121;
    --title-text-color:#757575;
    --accent-color: #2196f3;
    --primary-bg-color:#F5F4FA;
}




body{ 
    font-family: Roboto, sans-serif;
    background-color: #FFFFFF;
    }
    
/*Logo*/

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var( --accent-color);
    letter-spacing: 0.03;
    }
    
    .logo-second {
    color: #000000;
    }
    
    ul{ 
        list-style: none;
    }
    

    /* Основной сайт*/

    .menu-nav .menu-nav-title {
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing:0.02;
        color:var(--primary-text-color)

    }
    
    .menu-nav .menu-nav-title:hover,
    .menu-nav .menu-nav-title:focus{
        color: var(--accent-color);

    }
    .nav-contact {
    font-family: Roboto, sans-serif;
    font-style:500;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 2%;
    color: var(--title-text-color)    }

    .nav-contact:hover,
    .nav-contact:focus{
        color: var(--accent-color);}


    .header-button .header-page {
    font-family: Roboto, sans-serif;
    font-style:900;
    font-size: 44px;
    line-height:1.4;
    letter-spacing: 0.06;
    color:var(--primary-text-color);
    text-align: center
}    

.header-button .button-header {
    font-family: Roboto, sans-serif;
    font-style:700;
    font-size: 16px;
    line-height:1.8;
    letter-spacing:  0.06
    var(--primary-text-color);
}

.feature {
    font-family: Roboto, sans-serif;
    font-style:700;
    font-size: 14px;
    line-height:1.14;
    letter-spacing:  0.03
    var(--primary-text-color)
}
.feature-text{
    font-family: Roboto, sans-serif;
    font-style:400;
    font-size: 14px;
    line-height:1.7;
    letter-spacing:  0.03;
    color: var(--title-text-color);}

.box-header{
    font-family: Roboto, sans-serif;
    font-style:700;
    font-size: 36px;
    line-height:1.16;
    letter-spacing:  0.03;
    text-align: center
}

.team-header{
    font-family: Roboto, sans-serif;
    font-style:700;
    font-size: 36px;
    line-height:1.16;
    letter-spacing:  0.03;
    text-align: center

}

.team { 
    font-family: Roboto, sans-serif;
    font-style:500;
    font-size: 16px;
    line-height:1.18;
    letter-spacing:  0.03;
    color:var(--primary-text-color);

}

.team-text {
    font-family: Roboto, sans-serif;
    font-style:400;
    font-size: 16px;
    line-height:1.18;
    letter-spacing:  0.03;
    color: var(--title-text-color);

}



/* СТИЛИ PORTFOLIO*/


/*Site nav*/

.site-nav .link {
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 14px;
line-height:1.14;
color: var(--primary-text-color);
letter-spacing: 0.02;
}

.site-nav .link:hover
,.site-nav .link:focus{
    color:var(--accent-color); 
}


.contact-nav a {
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 14px;
line-height:1.14;
color: var(--title-text-color);
letter-spacing:  0.02;
}

/*Portfolio*/

.filter{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height:1.62;
    letter-spacing:  0.03;
    cursor: pointer;}




.filter:hover
,.filter:focus{

   background-color: var(--accent-color);
}

.title{
font-family: Roboto, sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 2;
color: var(--primary-text-color);
letter-spacing: 0.06 ;
}
.element .title{
    color: var(--primary-text-color);
}

.project{
 font-family: Roboto, sans-serif;
font-weight: 400;   
font-size: 16px;
line-height:1.87;
color: var(--title-text-color);
letter-spacing: 0.03;
}



.element .project {
    color: var(--title-text-color);
}

/*Footer*/

.contact{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03 ;}


